<!DOCTYPE html>
<html>
<head>
  <title>PopAdmin</title>
  <%= stylesheet_link_tag    "popadmin/application", media: "all" %>
  <%= javascript_include_tag "popadmin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
